<h2><%= _('Contact request') %></h2>

<p><%= image_link @contact, :image => :thumbnail %></p>
<p><%= _("You have a contact request from %s") % @contact.name %></p>

<% form_for(@connection) do |f| %>
  <p>
    <%= f.submit _("Accept"), :class => "button" %>
    <%= f.submit _("Decline"), :id => nil, :class => "button" %>
  </p>
<% end %>
