<li>
  <div class="profile-image">
    <%= image_link(comment.commenter, :image => :thumbnail) %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta published">
    <%= _("%{person} said %{timeago}") % {:person => person_link(comment.commenter),
    :timeago => time_ago_with_ago(comment.created_at)} %> 
  </p>
  <%= display comment.body %>

  <%- if current_person?(comment.commentable) -%>
  <br />
  <%= link_to _("delete"), person_comment_path(@person, comment),
                        :method => :delete %>
  <%- end -%>  
</li>