<li>
  <a name="post_<%= forum_post.id %>"></a>
  <div class="profile-image">
    <%= image_link forum_post.person, :image => :thumbnail %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta"><%= _("%{person} posted %{timeago}") % {:person => person_link(forum_post.person),
      	:timeago => time_ago_with_ago(forum_post.created_at)} %> 
      <%- if current_person?(forum_post.person) or admin? -%>
        | <%= link_to _("Edit"),
                edit_forum_topic_post_path(@forum, @topic, forum_post) %>
      <%- end -%>
      <%- if admin? -%>
        | <%= link_to _("Destroy"),
                      forum_topic_post_path(@forum, @topic, forum_post),
                      :confirm => _('Are you sure?'),
                      :method => :delete %>
      <%- end -%>
  </p>
  <div class="forum">
  <%= display forum_post.body %>
  </div>
</li>