<table>
  <tr><th><%= _('Discussion Forum') %></th></tr>
  <%- @topics.each do |topic| -%>
  <%- last_post = topic.posts.reverse.first -%>
  <tr class=<%= cycle("odd", "even") %>>
    <td>
      <%= topic_link topic %>
      <br />
      <span class="quiet small">
      <%= _('Last post') %>
      <%= _("%{timeago} by %{person}") % {:timeago => time_ago_with_ago(last_post.created_at),
        :person => person_link(last_post.person)} %>
      </span>
    </td>
  </tr>
  <%- end -%>
</table>

<div class="more">
<%= link_to _("Go to discussion forum &raquo;"), forum_path(topic.forum) %>
</div>