<h2><%= _("Profile photo upload") %></h2>
<%= error_messages_for :photo %>

<% form_for @photo, :html => { :multipart => true } do |f| -%>

  <div class="form_field">
    <label for="photo"><%= _("Upload a photo:") %></label>
    <%= f.file_field :uploaded_data %>
  </div>
  <div class="form_field">
    <%= submit_tag _('Upload'), :class => "button" %>
    <%= f.submit _("Cancel"), :id => "cancel", :class => "button" %>
  </div>
<% end -%>