<li>
  <div class="profile-image">
    <%= image_link comment.commenter, :image => :thumbnail %>
    <%= image_tag "icons/comment.gif", :class => "icon", :alt => _("Comment") %>
  </div>
  <p class="meta">
    <%= _("%{person} posted a comment %{timeago}:") % {:person => person_link(comment.commenter),
    	:timeago => time_ago_with_ago(comment.created_at)} %> 
  </p>
  <%= display comment.body %>
  <%- if current_person?(comment.commentable.blog.person) -%>
  <div>
    <br />
    <%= link_to _("delete"), blog_post_comment_path(@blog, @post, comment),
                          :method => :delete %>
  </div>
  <%- end -%>
</li>